<%include ./partials/header%>


    
<div id="landing-header">
<h1>Hi! 
<%if(currentUser){%>
<%=currentUser.username%>, 
<%}%>
</h1>
<h1>Welcome to YutuNote</h1>
<a href="/content" class="btn btn-black btn-lg mt-2">View All your Video + Note </a>
</div>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>




<%include ./partials/footer%>
